.homepage {
  width: 100%;
  height: 100%;

  &__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.399);
  }
  &__content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 240px;

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 27px;
      width: 1250px;
    }
  }
}

.countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 3px solid rgb(18, 175, 227);
  background-color: rgba(0, 0, 0, 0.431);
  width: 700px;
  padding: 20px;

  &__unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;

    &__number {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 80px;
      color: rgb(18, 175, 227);
    }

    &__label {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 25px;
      color: rgb(255, 255, 255);
    }
  }
}

@media screen and (max-width: 768px) {
  .homepage {
    font-size: 20px;
  }

  .homepage__description {
    margin-top: 50px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(208, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .countdown {
    font-size: 55px;
  }

  .countdown__unit {
    margin: 0 5px;
  }

  .countdown__unit__number {
    font-weight: bold;
  }

  .countdown__unit__label {
    font-size: 25px;
  }
}
