.sponsors {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    background: linear-gradient(90deg, orange, blue, black);
    /* Use text fill color to maintain gradient text color */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Ensure text is fully visible */
    -webkit-text-fill-color: transparent;
    font-size: 35px;
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-around;

    &__sponsor {
      flex: 0 0 calc(33.333% - 20px);
    }

    img {
      max-width: 60%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}
