body {
}
.race__page {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__gif {
    position: absolute;
    top: 10;
    left: 0;
    margin: 20px;
  }

  select {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
  }
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .location-icon {
    margin-right: 5px;
  }

  .location-link {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
}
