.race-page {
  max-width: 90%;
  margin: 0 auto;
}

.race-page p {
  font-size: 18px;
  margin-bottom: 10px;
}

.race-page select {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
}
.race-page img {
  margin-top: 20px;
}
