.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 20px;

  &__logo:hover {
    border-bottom: none;
  }
  &__logo img {
    width: 120px;
    display: block;
    margin-left: -10px;
  }

  &__links {
    display: flex;
    select {
      border: none;
      background-color: transparent;
      color: inherit;
      padding: 5px;
      font-size: large;
      cursor: pointer;
    }
    select:hover {
      background-color: #ffffff;
    }
  }

  &__links a {
    margin-right: 20px;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  &__btn {
    margin-right: 20px;
  }
  &__links a:hover {
    border-bottom: 2px solid rgb(18, 175, 227);
    transform: scale(1.1);
  }
}

#register {
  background-color: rgb(18, 175, 227);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  padding: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}
#register:hover {
  background-color: #e07d37;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: flex-start;

    &__logo img {
      width: 60px;
      margin-left: -20px;
    }

    &__links {
      display: flex;

      margin-top: 50px;
    }

    &__links a {
      font-size: 10px;
    }
    &__btn {
      margin-right: -10px;
    }
    #register {
      display: flex;
      width: 70px;
      height: 2px;
      font-size: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}
